@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');

.App {
  font-family: 'Poppins', sans-serif; 
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: aqua;
  background-image: linear-gradient(0deg, lightblue 30%, aqua 100%);
}

.stdtext{
  color:transparent;
  -webkit-background-clip:text;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, rgb(88, 30, 168) 0%, rgb(255, 1, 1) 100%);
  transition: 0.2s ease-in-out;
}

.inp:focus{
  outline: none !important;
  border: 2px solid aqua !important;
}

.autotype{
  color:transparent;
  -webkit-background-clip:text;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, blueviolet 0%, #FC00FF 100%);
  transition: 0.2s ease-in-out;
  font-family: 'Lobster Two', cursive;
}

@media(max-width:425px){
  .st{
    margin-top: 100px !important;
  }
}

